In [2]:
from math import sqrt
from scipy import stats
from pydataset import data
from datetime import datetime


from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import sklearn.metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from env import host, user, password
from acquire import get_telco_data, get_telco_df

## Data Acquistion
 -Will be using functions from our acquire.py to build our pandas dataframes from SQL and form local CSV files

In [3]:
telco_df = get_telco_df()  ##displaying head of the dataframe just built using our get_telco_df
telco_df.head()            ## function which connects to SQL and reads the table into a 
                           ## pandas dataframe and creates a local CSV file.

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.6,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.9,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.9,267.4,Yes

## Data Preparation

In [11]:
## telco_df.total_charges = telco_df.total_charges.str.replace(' ', '0').astype(float)
## commented out code above because we can only run it once ^^
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   float64
 20  churn                     7043 non-null   object
dtypes: float64(2), int64(5), object(14)
memory usage: 1.1+ MB

In [16]:
telco_df.total_charges.sort_values() ## making sure all the blank characers turned into 0's
## because these new customers haven't cycled through a full month's bill yet.
## Meaning it would be correct in saying there total_charges are 0.0

2250       0.00
2855       0.00
3052       0.00
945        0.00
1906       0.00
         ...
6275    8564.75
6892    8594.40
6855    8670.10
5360    8672.45
2003    8684.80
Name: total_charges, Length: 7043, dtype: float64

In [17]:
telco_df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.9,267.40,Yes

In [18]:
pd.get_dummies(telco_df.churn)

      No  Yes
0      1    0
1      1    0
2      0    1
3      0    1
4      0    1
...   ..  ...
7038   1    0
7039   0    1
7040   1    0
7041   1    0
7042   1    0

[7043 rows x 2 columns]